<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="import" href="./header.html"> -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <title>Ani-Weebs | Anime</title>
</head>
<body>

    <!-- header start -->
    <%- include('header') %>
    <!-- header end -->
    <section class="search-section" id="search-section" style="padding: 1rem; display:none;">
        <form class="search-form" action="/search" method="post" >
        <input type="search" class="search" name="search" id="search" placeholder="Search..." />
        <button class="openbtn">Search</button>
        </form>
    </section>
    <main>
        <!-- Anime Content Start -->
        <section class="anime-collection">
            <!-- Top Rated Anime  -->
            <section class="collection">
                <h3 class="group-head" id="top-rated-anime"> <a href="#">&#9734;&nbsp;Top Rated Anime</a> </h3>
                <div class="group-content">
                    
                    <% if(result1.length>0){ %>
                    <% for( let i=0; i< result1.length; i++ ) { %>
                        <a href="/video/<%= result1[i].anime_id %>">
                            <div class="card">
                                <div class="card-cover"><img src="<%= result1[i].cover_img %>" alt="" width="100%" loading="lazy"></div>
                                <div class="card-content"> <%= result1[i].anime_name %> </div>
                            </div>
                        </a>
                    <% } %>
                    <% } %>


                    <!-- <a href="./video.html">
                        <div class="card">
                            <div class="card-cover"><img src="../public/img/one-piece-cover.jpg" alt="" width="100%" loading="lazy"></div>
                            <div class="card-content"> One piece </div>
                        </div>
                    </a>
                    <a href="./video.html">
                        <div class="card">
                            <div class="card-cover"><img src="../public/img/one-piece-cover.jpg" alt="" width="100%" loading="lazy"></div>
                            <div class="card-content"> One piece </div>
                        </div>
                    </a>
                    <a href="./video.html">
                        <div class="card">
                            <div class="card-cover"><img src="../public/img/one-piece-cover.jpg" alt="" width="100%" loading="lazy"></div>
                            <div class="card-content"> One piece </div>
                        </div>
                    </a>
                    <a href="./video.html">
                        <div class="card">
                            <div class="card-cover"><img src="../public/img/one-piece-cover.jpg" alt="" width="100%" loading="lazy"></div>
                            <div class="card-content"> One piece </div>
                        </div>
                    </a> -->
                    
                    <!-- <div class="more"><a href="./anime">See More</a></div> -->
                    
                </div>
                
            </section>
            <!-- All Anime -->
            <section class="collection">
                <h3 class="group-head" id="all-anime"> <a href="#">&#9734;&nbsp;All Anime</a> </h3>
                <div class="group-content">
                    <% if(result3.length>0){ %>
                        <% for( let i=0; i < result3.length; i++ ) { %>
                            <a href="/video/<%= result3[i].anime_id %>">
                                <div class="card">
                                    <div class="card-cover"><img src="<%= result3[i].cover_img %>" alt="" width="100%" loading="lazy"></div>
                                    <div class="card-content"> <%= result3[i].anime_name %> </div>
                                </div>
                            </a>
                        <% } %>
                        <% } %>
                    <div class="more"><a href="/anime">See More</a></div>
                </div>
                
            </section>
        </section>
        <!-- Anime Content End -->
    </main>

    <!-- footer start -->
    <%- include('footer') %>
    <!-- footer end -->

    <button class="back-to-top" onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>
    <!-- Scripts start -->
    <script src="../public/scripts/main.js"></script>
    <script src="../public/scripts/file-include.js"></script>
    <!-- Scripts end -->
</body>
</html>